<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>  
  <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
  <h2>Contact Us</h2>

  <form method="POST" action="/contact">
    <input type="text" name="name" placeholder="Name" required />
    <br><br>

    <input type="email" name="email" placeholder="Email" required />
    <br><br>

    <textarea name="message" placeholder="Message"></textarea>
    <br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>