<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>

  <a href="/blog">⬅ Back to Blog</a>
</body>
</html>